.listado-servicios{
    
    @include tablet{
        @include grid(2, 2rem);
    }

    .servicio{
        padding: 1rem;
        background-color: $blanco;
        border-radius: 1rem;
        margin-bottom: 1.5rem;
        text-align: center;

        @include tablet{
            margin: 0;
            text-align: left;
        }
        
        p{
            margin: 0 0 $separacion / 4 0;
        }

        .nombre-servicio{
            color: $negro;
        }

        .precio-servicio{
            color: $azul;
            margin: 0;
            font-size: 3rem;
            font-weight: $bold;
        }

        &.seleccionado{
            background-color: $azul;
            p{
                color: $blanco;
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
    
}